<%= form_for(terminal_entry) do |f| %>
  <% if terminal_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(terminal_entry.errors.count, "error") %> prohibited this terminal_entry from being saved:</h2>

      <ul>
      <% terminal_entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :station %>
    <%= f.text_field :station %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
