<%= form_for(reserve) do |f| %>
  <% if reserve.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reserve.errors.count, "error") %> prohibited this reserve from being saved:</h2>

      <ul>
      <% reserve.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :reserve %>
    <%= f.datetime_select :reserve %>
  </div>

  <div class="field">
    <%= f.label :account_id %>
    <%= f.text_field :account_id %>
  </div>

  <div class="field">
    <%= f.label :bicycle_id %>
    <%= f.text_field :bicycle_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
