<p id="notice"><%= notice %></p>

<h1>Reserves</h1>

<table>
  <thead>
    <tr>
      <th>Reserve</th>
      <th>Account</th>
      <th>Bicycle</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reserves.each do |reserve| %>
      <tr>
        <td><%= reserve.reserve %></td>
        <td><%= reserve.account %></td>
        <td><%= reserve.bicycle %></td>
        <td><%= link_to 'Show', reserve %></td>
        <td><%= link_to 'Edit', edit_reserve_path(reserve) %></td>
        <td><%= link_to 'Destroy', reserve, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New reserve', new_reserf_path %>
<%= link_to 'Index', root_path %>