<p id="notice"><%= notice %></p>

<%= link_to 'Usuarios', users_path %><br>
<%= link_to 'Terminales', terminals_path %><br>
<%= link_to 'Bicicletas', bicycles_path %></br>
<%= link_to 'Tomas', terminal_entries_path %></br>
<%= link_to 'Estado de reservas', reserve_states_path %></br>
